<!-- TODO: Grammar stickler moment: log in is the action, login is the adjective or noun
      ex. 'Please log in here.', 'This is the login page.', 'I forgot my login.'
      I'd argue that this page needs the verb since it directs the user. -->
<h2><strong>Login!</strong></h2>
<br><br>
<div class="col-md-4 col-md-offset-4">
  <div class="NewLogin">
      <%= bootstrap_form_for @user, url: create_session_path do |f| %>
      <%= f.text_field :email, placeholder: 'Email' %>
      <%= f.password_field :password, placeholder: 'Password' %>
      <br>
    <div class="CreateButton">
      <%= f.submit "Log In" %><br><br>
      Don't have an account? Please
      <%= link_to "sign up!", new_user_path %>
      <% end %>
      <!-- TODO: Replace <br /> tags with CSS styles -->
      <br><br>
    </div>
  </div>
</div>
