<%= flash_messages %>
<h2><strong>Sign Up!</strong></h2>
<br></br>
<div class = "col-md-4 col-md-offset-4">
  <div class = "NewUser">
<%= bootstrap_form_for @user do |f| %>
  <%= f.text_field :first_name, placeholder: 'First Name' %>
  <%= f.text_field :last_name, placeholder: 'Last Name' %>
  <%= f.email_field :email, placeholder: 'Email' %>
  <%= f.password_field :password, placeholder: 'Password' %>
  <%= f.url_field :image, placeholder: 'Image Url' %>
  <br>
  <div class = "CreateButton">
  <%= f.submit "Sign Up" %><br></br>
  Already have an account? Please <%= link_to "log in!", new_session_path %>
<% end %>
<br></br>
</div>
</div>
</div>
