<%= flash_messages %>
<br>
<div class="col-xs-4 col-xs-offset-1">
  <div class="column">
    <div class="row">
      <div class="row">
        <img src="<%= @user.image%>" class="product_img img-responsive img-circle">
      </div>
      <br>
      <div class="row user-info">
        <h3><%=  @user.first_name %> <%= @user.last_name %> </h3>
        <h4>Date Joined: <%= @user.created_at.localtime.strftime("%B #{@user.created_at.day.ordinalize}, %Y") %> </h4>
        <br>
        <div>
          <% if current_user != nil && current_user.id == @user.id %>
          <%= link_to "Edit Profile", edit_user_path(@user), method: :get, :class=>"ruby-link btn btn-info btn-primary btn-md inline" %>
          <button class="ruby-link btn btn-danger inline btn-primary btn-md inline" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Deactivate Account</button>
          <br></br>
          <div class = "row">
            <div class="collapse" id="collapseExample">
              <div class="well col-xs-7">
                <h5 class="inline"> Are you sure you want to deactivate your account? </h5>
                <button class="ruby-link btn-danger btn-primary btn-sm inline">
                  <%= link_to "Deactivate", destroy_user_path(@user), method: :delete, :class=>"ruby-link"%>
                </button>
                <button class = "btn-success btn-primary btn-sm inline" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Cancel
                </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-7">
  <%  @articles.each do |article| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <p><strong><%= article.title %></strong></p>
      <p><%= article.content %></P>
      <%= image_tag(article.image, height: '400vh', width: 'auto', :class => "style_image") %><br>
      <div class="buttonrow">
        <% if current_user != nil && current_user.id == @user.id %>
        <%= link_to "Edit Article", edit_article_path, method: :get, :class=>"ruby-link btn btn-info btn-primary btn-md inline" %>
        <button class="ruby-link btn btn-danger inline btn-primary btn-md inline" type="button" data-toggle="collapse" data-target="#deletearticle" aria-expanded="false" aria-controls="collapseExample">Delete Article</button><br>
        <div class = "row">
          <div class="collapse" id="deletearticle"><br>
            <div class="well col-xs-6 col-xs-offset-3">
              <h5 class="inline"> Are you sure you want to delete your article? </h5>
              <button class="ruby-link btn-danger btn-primary btn-sm inline">
                <%= link_to "Delete Article", destroy_article_path, method: :delete, :class=>"ruby-link"%>
              </button>
              <button class = "btn-success btn-primary btn-sm inline" data-toggle="collapse" data-target="#deletearticle" aria-expanded="false" aria-controls="collapseExample">
                Cancel
              </button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
